body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: gainsboro;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 10px 20px;
  height: 50px;
  color: white;
  font-size: 1.2rem;
}

.title {
  text-decoration: none;
  color: white;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 8px 12px;
  cursor: pointer;
}

.header button:hover {
  background-color: white;
  color: red;
}

.center-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;;
  gap: 10px;
  padding-top: 70px;
}

.frame {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  width: 100%;
}

input[type="email"],
input[type="password"] {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

button[type="submit"],
button[type="reset"] {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

button[type="button"] {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  padding: 8px 12px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
